body {margin:100px; 
    background-color: #E9ECED; 
    font-size: 20pt;
    display: grid;
}

.title {
  text-align: left;
  xborder: 1px solid red;
  margin-bottom: 5px;
}

div.title{width:100%;xborder:1px solid red;text-align: center;}
h1 {
  text-align: center;
  color: #34467e
}
h2 {
  text-align: center;
  color: #444444

}

.grid-container {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%
  /* align-items: stretch; */
  
  
}


div.tile {
  display:grid;
  /* place-self: center stretch; */
  align-self: center;
  
}


.containerframe {
  height: 300px;
  margin:auto;
  overflow: hidden;
  width: 300px;
  xborder:red solid 5px;
}
iframe {
  --scale: .7;
  border: 0 solid;
  height: 300px;
  margin-left:0px;
  margin-top: 0px;
  width: 300px;
  transform:scale(var(--scale));
  -webkit-transform:scale(var(--scale));
  -moz-transform:scale(var(--scale));
  -o-transform:scale(var(--scale));
  -ms-transform:scale(var(--scale));
}    

