body {margin:30px 0 0 30px; background-color: #E9ECED; font-size: 10pt}
svg {
  xborder: 1px  solid rgb(221, 102, 102);
  xborder-radius: 5px;
  }

div.content {
  display: block;
  width: 100;
  margin: 0px 0px 0px 0;
  xpadding:  10px 10px 10px 10px ;
  
}
div.header {
  width: 1000px;
  text-align: left;
  padding-left: 20px;

  vertical-align: middle;
  height: 50px;
  color: #999999;
  xborder: 1px solid red;
}
div#viz-logo {
  text-align: right;
  xborder: 1px solid red;
  width: 50px
  
}

text {fill: white;}


rect#Type-D {
  stroke: red;
  stroke-width: 1px;
  fill:red;
}
rect#Type-I {
  stroke: rgb(203, 173, 4);
  stroke-width: 1px;
  fill: rgb(203, 173, 4);
}
rect#Type-S {
  stroke: rgb(11, 158, 70);
  stroke-width: 1px;
  fill:  rgb(11, 158, 70);
}

rect#Type-C {
  stroke: rgb(16, 11, 158);
  stroke-width: 1px;
  fill:  rgb(16, 11, 158);;
}

g.gTypeCharBlock text.title {
  fill: #0a68c6;

}
g.gTypeCharBlock text.line {
  fill: #333;

}
line.title-divider {
  stroke: #0a68c6;
  stroke-width: 1;
  stroke-opacity: .7
}

