body {
    margin: 10px;
}
.grid {
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    /* grid-template-columns: 270px auto auto auto; */
    /* transition: 600ms ease-in-out;; */
    display: grid;
    grid-template-columns: 200px auto 1fr;
  
    /* align-items: stretch; */
  }


  .grid-item-selection {
    grid-column-start: 2;
    grid-row-start: 1;
    /* grid-column-end: five; */
    /* grid-row-start: row1-start; */
    /* grid-row-end: 3; */
    border: 0px solid red;
    justify-self:center;
  }


  .grid-item-viz {
    grid-row-start: 1;
    /* grid-column-end: five; */
    /* grid-row-start: row1-start; */
    /* grid-row-end: 3; */
    border: 0px solid red;
    justify-self: center;
  }