#chart-area {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

text.year {
	fill: #D0D7DC;
	font-weight: bold;
	font-size: 144pt;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: 30px;
}